<div id="topbar" class="d-flex align-items-center fixed-top">
<div class="container d-flex justify-content-between">
  <div class="contact-info d-flex align-items-center">
    <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">contact@rhizosphere.tn</a>
    <i class="bi bi-phone"></i> +216 213456789
  </div>
  <div class="d-none d-lg-flex social-links align-items-center">
    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
  </div>
</div>
</div>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><a href="#">Rhizosphere</a></h1>


    <nav id="navbar" class="navbar order-last order-lg-0">

      <ul>
        <li><a class="nav-link scrollto active" routerLink="" routerLinkActive="active">Home</a></li>
        <li><a  routerLink="products">Products</a></li>

        <li><a class="nav-link scrollto"  routerLink="/shop" routerLinkActive="active">Shop</a></li>
        <li><a class="nav-link scrollto" href="#departments" routerLinkActive="active">Cart</a></li>
        <li><a class="nav-link scrollto" href="#departments" routerLinkActive="active">Events</a></li>
        <li class="dropdown"><a href="#"><span>Categories</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Clothes</a></li>
            <li><a href="#">IT</a></li>
            <li><a href="#">Cars</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Services</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Sign</span> Up</a>
  </div>
</header><!-- End Header -->
