.containerr{
    display: flex;
    justify-content: center;
    margin: 15% 30% 10% 30%;
    padding: 50px 0 50px 0;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(163, 163, 163);
    border-radius: 10px;

}