<app-navbar></app-navbar>
<div class="containerr">
  <form #f="ngForm"(ngSubmit)="forgotpassword()">
    <!-- Email input -->
    <h1 style="padding-bottom: 2%; display: flex; justify-content: left;">Forgot Password ?</h1>
    <p style="padding-bottom: 2%; display: flex; justify-content: left; color: rgb(136, 136, 136);"><i>Get Your Password Back...</i></p><hr>
    <div class="form-outline mb-4">
      <label class="form-label" for="email">Email address</label>
      <input #email="ngModel"[(ngModel)]="forgotPasswordInput" type="email" id="email" name="email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      <div *ngIf="email.errors?.['required'] && email.touched"  class ="alert alert-danger">email input required! </div>
      <div *ngIf="email.errors?.['pattern'] && email.touched"  class ="alert alert-danger">email must be like "example@something.com" </div>
    </div>
  
    <!-- Submit button -->
    <button type="submit"   [disabled]="f.invalid"class="btn btn-primary btn-block mb-4" style="width: 100%; border-radius: 50px;">Send Credentials</button>
  
    <!-- Register buttons -->
    <div class="text-center">
      <p>Tap here to return to <a href="/login">SignIN</a> page? </p>
      <p>or sign up with:</p>
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
      </button>
  
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-google"></i>
      </button>
  
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-twitter"></i>
      </button>
  
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-github"></i>
      </button>
    </div>
  </form>
</div>
<app-footer></app-footer>