.containerr{
    display: block;
    justify-content: center;
    margin-top: 15%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
    padding: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(163, 163, 163);
    border-radius: 10px;

}